@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body{
  width: 100%;
 font-size: 20px;
 font-family: 'PT+Sans', sans-serif;
}
/* Beginning of navbar */
nav ul{
 display: flex;
 list-style: none;
 align-items: center;
 position: fixed;
 z-index: 16;
 width: 100%;
 top: 0;
 background-color: #000000;
}
nav ul li:nth-child(2){
  margin-left: 20em;
}
nav ul li:nth-child(7){
  margin-left: 5em;
}
nav ul li{
 display: flex;
 margin-left: 1rem;
}
ul li a{
 display: block;
 color: #3385ff;
 padding: 14px 16px;
 align-items: center;
 text-decoration: none;
 transition: 1s ease-in-out;
}
ul li a:hover{
   text-decoration: underline;
}
ul li:nth-child(1){
 color: #809fff;
 font-weight: 600;
}
/* End of navbar */

/* Beginning of first-section */
.first-div{
  margin-top: 6rem;
}
.box-a{
 display: flex;
 align-items: center;
 width: 100%;
 margin: 0 auto;
 padding-left: 5%;
 padding-right: 5%;
}
.box-a img{
  order: 1;
 height: 50vh;
 width: ;
 margin-top: 6rem;
}
.box-a-xl{
 font-size: 2em;
 font-weight: 600;
 color: #0f0f57;
}
.box-a-md{
 font-size: 1em;
 padding-top: 0.7rem;
 color: #838a85;

}
.btn{
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #4d79ff;
  color: #ffffff;
}
.first-div{
 height: 100%;
 width: 100%;
}
/* End of first-section */
/* Beginning of box-b */
.box-b{
  padding-left: 5%;
  padding-right: 5%;
}
.box-b div{
 align-items: center;
 justify-content: center;
 text-align: center;
}
 .box-b-xl{
 margin-top: 1.5rem;
 font-size: 2em;
 font-weight: 600;
 color: #0f0f57;
}
.box-b-md{
 font-size: 1em;
 padding-top: 1rem;
 padding-bottom: 2rem;
 color: #838a85;
}
/* End of box-b */
/* Beginning of box-c */
.box-c{
 display: flex;
 align-items: center;
 margin: 0 auto;
 gap: 5rem;
 padding-right: 5%;
 padding-left: 5%;
 width: 100%;
 padding-bottom: 2rem;
}
.lady{
 height: 50vh;
}
.box-c-xl{
 margin-bottom: 2rem;
 color: #0f0f57;
}
.box-c-md{
  font-size: 1em;
  color: #838a85;
}
.box-c-img{
 margin-bottom: 1rem;
}
span{
  color: #838a85;
}
label{
  color: #065278;
  font-size: 0.7em;
  cursor: pointer;
}
/* End of box-c */
/* Beginning of box-d */
.box-d{
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 5rem;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  margin-bottom: 2rem;
}
.box-d-xl{
  color: #0f0f57;
}
.box-d-md{
  margin-top: 1.5rem;
  color: #838a85;
}
.box-d img{
 height: 50vh;
}
/* End of box-d */
/* Beginning of box-e */
.box-e{
 display: flex;
 align-items: center;
 gap: 5rem;
 padding-left: 5%;
 padding-right: 5%;
 margin: 0 auto;
 width: 100%;
}
.box-e-xl{
  color: #0f0f57;
}
.box-e-md{
  margin-top: 1.5rem;
  color: #838a85;
}
.box-e-div{
width: 100%;
width: 100%;
}
.box-e img{
 height: 50vh;
}
/* End of box-e */
/* Beginnng of footer */
footer{
  background-color: #61616b;
  margin: 0 auto;
  width: 100%;
  color: #ffffff;
  font-size: 0.7em;
  padding-left: 5%;
  padding-right: 5%;
}
.footer-1{
  display: flex;
  align-items: center;
  gap: 18rem;
  padding-top: 2%;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.img-flex{
  display: flex;
  align-items: center;
}
.img-flex img{
  height: 5vh;
  padding-left: 0.4rem;
}
.footer-2{
  display: flex;
  align-items: center;
  line-height: 2em;
  gap: 12rem;
  padding-bottom: 2%;
}

@media screen and (max-width: 480px){
  .box-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 0;
    width: 100%;
  }

  .box-a-xl{
    margin-top: 3em;
  }

  .box-c{
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  .box-d{
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .box-d-div{
    margin-top: 2rem;
  }
  .box-d-xl{
    font-size: 1.1em;
  }

  .box-e{
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .box-e-xl{
    font-size: ;
  }
  .box-e-md{
    font-size: ;
  }

  nav ul{
    display: flex;
    flex-direction: column;
    position: static;
    width: 100%;
  }

  nav ul li:nth-child(7){
    margin-left: 0;
  }

  nav ul li:nth-child(2){
    margin-left: 0;
  }

  .first-div{
    margin-top: 0;
  }
  .box-a img{
    order: 0;
    margin-top: 1rem;
  }
  .box-a-xl{
    margin-top: 0;
    padding-top: 0;
    font-size: 2rem;
  }
  .box-b-xl{
    font-size: 1.5em;
  }
  .second-div{
    padding-top: 0;
  }
}


